.vue-tabs.stacked {
  display: flex; }

.vue-tabs .tabs__link {
  text-decoration: none;
  color: gray; }

.vue-tabs .nav {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none; }
  .vue-tabs .nav:before, .vue-tabs .nav:after {
    content: " ";
    display: table; }
  .vue-tabs .nav:after {
    clear: both; }
  .vue-tabs .nav > li {
    position: relative;
    display: block; }
    .vue-tabs .nav > li > a {
      position: relative;
      display: block;
      padding: 10px 15px; }
      .vue-tabs .nav > li > a:hover, .vue-tabs .nav > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee; }
    .vue-tabs .nav > li span.title {
      display: flex;
      justify-content: center; }
    .vue-tabs .nav > li.disabled > a {
      color: #777777; }
      .vue-tabs .nav > li.disabled > a:hover, .vue-tabs .nav > li.disabled > a:focus {
        color: #777777;
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
        border-color: transparent; }
  .vue-tabs .nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .vue-tabs .nav > li > a > img {
    max-width: none; }

.vue-tabs .nav-tabs {
  border-bottom: 1px solid #ddd; }
  .vue-tabs .nav-tabs > li {
    float: left;
    margin-bottom: -1px; }
    .vue-tabs .nav-tabs > li > a {
      margin-right: 2px;
      line-height: 1.42857;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0; }
      .vue-tabs .nav-tabs > li > a:hover {
        border-color: #eeeeee #eeeeee #ddd; }
    .vue-tabs .nav-tabs > li.active > a, .vue-tabs .nav-tabs > li.active > a:hover, .vue-tabs .nav-tabs > li.active > a:focus {
      color: #555555;
      background-color: #fff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      cursor: default; }

.vue-tabs .nav-pills > li {
  float: left; }
  .vue-tabs .nav-pills > li > a {
    border-radius: 4px; }
  .vue-tabs .nav-pills > li + li {
    margin-left: 2px; }
  .vue-tabs .nav-pills > li.active > a, .vue-tabs .nav-pills > li.active > a:hover, .vue-tabs .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #337ab7; }

.vue-tabs .nav-stacked > li {
  float: none; }
  .vue-tabs .nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0; }

.vue-tabs .nav-justified, .vue-tabs .nav-tabs.nav-justified {
  width: 100%; }
  .vue-tabs .nav-justified > li, .vue-tabs .nav-tabs.nav-justified > li {
    float: none; }
    .vue-tabs .nav-justified > li > a, .vue-tabs .nav-tabs.nav-justified > li > a {
      text-align: center;
      margin-bottom: 5px; }
  .vue-tabs .nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto; }
  @media (min-width: 768px) {
    .vue-tabs .nav-justified > li, .vue-tabs .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%; }
      .vue-tabs .nav-justified > li > a, .vue-tabs .nav-tabs.nav-justified > li > a {
        margin-bottom: 0; } }

.vue-tabs .nav-tabs-justified, .vue-tabs .nav-tabs.nav-justified {
  border-bottom: 0; }
  .vue-tabs .nav-tabs-justified > li > a, .vue-tabs .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px; }
  .vue-tabs .nav-tabs-justified > .active > a, .vue-tabs .nav-tabs.nav-justified > .active > a,
  .vue-tabs .nav-tabs-justified > .active > a:hover, .vue-tabs .nav-tabs.nav-justified > .active > a:hover,
  .vue-tabs .nav-tabs-justified > .active > a:focus, .vue-tabs .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd; }
  @media (min-width: 768px) {
    .vue-tabs .nav-tabs-justified > li > a, .vue-tabs .nav-tabs.nav-justified > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0; }
    .vue-tabs .nav-tabs-justified > .active > a, .vue-tabs .nav-tabs.nav-justified > .active > a,
    .vue-tabs .nav-tabs-justified > .active > a:hover, .vue-tabs .nav-tabs.nav-justified > .active > a:hover,
    .vue-tabs .nav-tabs-justified > .active > a:focus, .vue-tabs .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #fff; } }

.vue-tabs .tab-content > .tab-pane {
  display: none; }

.vue-tabs .tab-content > .active {
  display: block; }

.vue-tabs section[aria-hidden="true"] {
  display: none; }

.vue-tabs .nav-tabs {
  background: #58C4F0;
  border: 0;
  border-radius: 3px;
  padding: 0 15px; }
  .vue-tabs .nav-tabs > li > a {
    color: #FFFFFF;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px; }
    .vue-tabs .nav-tabs > li > a:hover {
      background-color: transparent;
      border: 0; }
  .vue-tabs .nav-tabs > li > a,
  .vue-tabs .nav-tabs > li > a:hover,
  .vue-tabs .nav-tabs > li > a:focus {
    background-color: transparent;
    border: 0 !important;
    color: #FFFFFF !important;
    font-weight: 600; }
  .vue-tabs .nav-tabs > li i {
    font-size: 20px; }
  .vue-tabs .nav-tabs > li.disabled > a,
  .vue-tabs .nav-tabs > li.disabled > a:hover {
    color: rgba(255, 255, 255, 0.5); }
  .vue-tabs .nav-tabs > li .material-icons {
    margin: -1px 5px 0 0; }
  .vue-tabs .nav-tabs > li.active > a,
  .vue-tabs .nav-tabs > li.active > a:hover,
  .vue-tabs .nav-tabs > li.active > a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color .1s .2s; }

.section-dark .vue-tabs .nav-pills > li > a,
.section-image .vue-tabs .nav-pills > li > a {
  color: #999999; }

.section-dark .vue-tabs .nav-pills > li > a:hover,
.section-dark .vue-tabs .nav-pills > li > a:focus,
.section-image .vue-tabs .nav-pills > li > a:hover,
.section-image .vue-tabs .nav-pills > li > a:focus {
  background-color: #EEEEEE; }

.vue-tabs .nav-pills > li > a {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  min-width: 100px;
  text-align: center;
  color: #555555;
  transition: all .3s; }
  .vue-tabs .nav-pills > li > a:hover {
    background-color: rgba(200, 200, 200, 0.2); }

.vue-tabs .nav-pills > li i {
  font-size: 20px; }

.vue-tabs .nav-pills > li.active > a, .vue-tabs .nav-pills > li.active > a:focus, .vue-tabs .nav-pills > li.active > a:hover {
  background-color: #9c27b0;
  color: #FFFFFF;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4); }

.vue-tabs .nav-pills:not(.nav-pills-icons) > li > a {
  border-radius: 6px; }

.vue-tabs .nav-pills.nav-stacked > li + li {
  margin: 10px 0; }

.vue-tabs .tab-content {
  padding-left: 20px;
  padding-top: 10px; }
