*{
	margin: 0;
	padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #212529;
    text-align: left;
    background-color: #e0e0e0;
}

.left{
	float: left;
	display: block;
	overflow: hidden;
}

.right{
	float: right;
}

.addnew{
	line-height: 2
}

.fix{
	overflow: hidden;
	clear: both;
}

h1{
	font-size: 25px;
}

button{
	padding: 0 15px;
	border: 0;
	background: #58C4F0;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	outline: 0;
}

div#root {
    margin-top: 10px;
    background: #f3f3f3;
    padding: 10px;
}

table.list{
	width:100%;
}
table.list button{
	line-height: 1.75
}
table.list tr{
	margin: 5px!important;
}

table.list th {
    background: #58C4F0;
    padding: 2px;
    text-align: center;
}

.crud_header {
    background: #e0e0e0;
    padding: 35px 22px 20px 20px;
}

table.list tr td{
	padding: 10px;
	margin: 2px!important;
	overflow: hidden;
	text-align: center;
	margin-top: 5px;
	font-size:1.35em;
}
table.list tr:nth-child(odd) {background: #aaa;}
table.list tr:nth-child(even) {background: #ddd;}
table.list tr:hover {background: #888; color:white}

table.list2 tr td{
	padding: 10px;
	margin: 2px!important;
	overflow: hidden;
	text-align: center;
	margin-top: 5px;
	font-size:1.35em;
	background:none;
}

table.list3 tr td{
	padding: 10px;
	margin: 2px!important;
	overflow: hidden;
	text-align: center;
	margin-top: 5px;
	font-size:1.35em;
}


#list2 tr:nth-child(odd) {background: none!important;}
#list2 tr:nth-child(even) {background: none!important;}
#list2 tr:hover {background: none!important; color:none!important}

#list3 tr:nth-child(odd) {background: none!important;}
#list3 tr:nth-child(even) {background: none!important;}
#list3 tr:hover {background: none!important; color:darkblue!important}


.modal{
	top: 0px;
	left:0;
	right:0;
	bottom:0;
	position: fixed;
	background: #b5b5b5fc;
	margin: 0 auto;
	display: block;
	padding: 0;
	height: 800px;
	box-shadow: 0 0 130px 28px #00000073;
}

.modalheading{
	background: #fff;
	padding: 5px;
	font-size: 17px;
	line-height: 32px;
}

.modalcontent {
    padding: 5px;
	font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.2;
}

.margin{
	margin: 10px 0;
}

.center {
    text-align: center;
    display: block;
    margin: 0 auto;
	line-height: 2
}

p.errorMessage {
    background: #ffbaba;
    padding: 10px;
    border-left: 5px solid #f00;

}

p.successMessage {
    background: #a2ffa2;
    padding: 10px;
    border-left: 5px solid #008c1e;
}

button.center {
	font-size: 1.25rem;
}

div.file-listing{
    width: 200px;
}

span.remove-file{
    color: red;
    cursor: pointer;
    float: right;
}	
  
.upload{
	line-height:1.75;
	font-size: 1.25em;
}

.dropZone{
	padding: 10px;
	height: 625px;
	width:  625px;
}

#logout{
	padding-left: 50px;
	width:25px;
	height:25px;
	float:left;
}
#logout img{
	width:35px;
	height:35px;
}
* {box-sizing: border-box}

img {vertical-align: middle;}

/* Slhow container */

.mySl1, .mySl2, .mySl3, .mySl4, .mySl5, .mySl6, .mySl7, .mySl8, .mySl9, .mySl10,
.mySl11, .mySl12, .mySl13, .mySl14, .mySl15, .mySl16, .mySl17, .mySl18, .mySl19, .mySl20,
.mySl21, .mySl22, .mySl23, .mySl24, .mySl25, .mySl26, .mySl27, .mySl28, .mySl29, .mySl30,
.mySl31, .mySl32, .mySl33, .mySl34, .mySl35, .mySl36, .mySl37, .mySl38, .mySl39, .mySl40,
.mySl41, .mySl42, .mySl43, .mySl44, .mySl45, .mySl46, .mySl47, .mySl48, .mySl49, .mySl50,
.mySl51, .mySl52, .mySl53, .mySl54, .mySl55, .mySl56, .mySl57, .mySl58, .mySl59, .mySl60,
.mySl61, .mySl62, .mySl63, .mySl64, .mySl65, .mySl66, .mySl67, .mySl68, .mySl69, .mySl70,
.mySl71, .mySl72, .mySl73, .mySl74, .mySl75, .mySl76, .mySl77, .mySl78, .mySl79, .mySl80,
.mySl81, .mySl82, .mySl83, .mySl84, .mySl85, .mySl86, .mySl87, .mySl88, .mySl89, .mySl90,
.mySl91, .mySl92, .mySl93, .mySl94, .mySl95, .mySl96, .mySl97, .mySl98, .mySl99, .mySl100
{display: none}
