<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wohnungsverwaltung</title>
	
	<link href="css/pagination.css" rel="stylesheet">
	<link type='text/css'  rel="stylesheet" href="css/bootstrap.min.css">
	<link type='text/css'  rel="stylesheet" href="css/material.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/axios.min.js"></script>
	<link type='text/css'  rel="stylesheet" href="css/w3.css">
	<link type='text/css'  rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="root">
		<div class="">
			<div class="crud_header">
				<h1 class="left"><img src="images/animus.png"/></h1>
				<div class="fix"></div>
			</div>
			<div class="paginationjs paginationjs-big paginationjs-theme-blue">
				<div style="float:right;">Anzahl Elemente in Liste: &nbsp;<input  style="text-align:right;width:50px" type="number" v-bind:value="anzahlElementeProSeite" @change="saveMaxlElements($event.target.value)"/></div>
				<div class="paginationjs-pages">
					<ul v-if="maxSeiten > 1">
						<li class='paginationjs-prev' @click='selectPrev()' ><a >«</a></li>
						<li :class="`paginationjs-page J-paginationjs-page ${aktSeite == 1 ? 'active' : ''}`" v-for="z in Wohnung" v-if="z.Zeile == 1"  @click="selectAkt(1)"><a>1</a></li>
						<li class="paginationjs-page J-paginationjs-page disabled"  v-for="z in Wohnung" v-if="z.Zeile == maxSeiten+2 && startElement > 0 " ><a >:::</a></li>
						<li :class="`paginationjs-page J-paginationjs-page ${ parseInt(z.Zeile)+parseInt(startElement) == aktSeite  && aktSeite != 1 ? 'active' : ''}`" v-for="z in Wohnung" v-if="parseInt(z.Zeile)+parseInt(startElement) > 1 && z.Zeile <= maxSeiten && parseInt(z.Zeile)+parseInt(startElement) < berechneteSeiten "  @click="selectAkt(parseInt(z.Zeile)+parseInt(startElement) )"><a>{{ parseInt(z.Zeile)+parseInt(startElement) }}</a></li>
						<li class="paginationjs-page J-paginationjs-page disabled"  v-for="z in Wohnung" v-if="z.Zeile == maxSeiten-1  && berechneteSeiten > maxSeiten && aktSeite < parseInt(berechneteSeiten) - (parseInt(berechneteSeiten) % parseInt(maxSeiten))+1 " ><a >:::</a></li>
						<li :class="`paginationjs-page paginationjs-last J-paginationjs-page ${z.Zeile == aktSeite ? 'active' : ''}`"  v-for="z in Wohnung" v-if="z.Zeile == berechneteSeiten" @click="selectAkt(berechneteSeiten)"><a >{{berechneteSeiten}}</a></li>
						<li class='paginationjs-next J-paginationjs-next' title='Next page'  @click='selectNext()'><a >»</a></li>
					</ul>
				</div>
			</div>
			<table class="list" style="border-collapse:collapse">
				<tr v-for="W in Wohnung" v-if="W.Zeile > anzahlElementeProSeite*(aktSeite-1) && W.Zeile <= anzahlElementeProSeite*aktSeite "  @dblclick="showingeditModal = true; selectWohnung(W)" valign="top">
					<td style="vertical-align:top">
						<table id="list2" >
							<tr>
								<td style="vertical-align:top;">
									<div class="w3-content w3-display-container" style="height:375px;width:550px">
										<img v-for="(key,index) in Bilder" :class="'mySl'+parseInt( W.Zeile )" :src="key.File" 
										:style="`width:100%;height:100%;display: ${ key.Zeile == 1 ? 'block' : 'none'}`" v-if="key.WID == W.WID" />
										<span v-for="key in Bilder" v-if="key.Zeile == 2 && key.WID == W.WID">
											<button class="w3-button w3-black w3-display-left"  @click="plusSlide(-1, parseInt( W.Zeile ))">&#10094;</button>
											<button class="w3-button w3-black w3-display-right" @click="plusSlide( 1, parseInt( W.Zeile ))">&#10095;</button>
										</span>
									</div>									
								</td>
								<td style="padding-left:10px;padding-right:30px;color:darkblue;font-size:1.5em;vertical-align:top;text-align:justify;width:70%!important">
									{{W.ObjektBeschreibung}}
									<br>
									<span style="float:left">
									<table id="list3"  style="border-collapse:collapse;">
										<tr >
											<td>{{W.Kaltmiete}} €</td>
											<td>{{W.Qm}}</td>
											<td>{{W.Anzahl}}</td>
										</tr>
										<tr >
											<td>Kaltmiete</td>
											<td>Wohnfläche</td>
											<td>Zi.</td>
										</tr>
									</table>
									</span>
									<span style="padding:50px;float:left;color:darkblue;color:black;font-size:1.1em;text-align:center">{{W.w_PLZ}}, {{W.w_Ort}} </span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/vuepack.js"></script>
	<script type="text/javascript" src="api.js"></script>
</body>
</html>