*{
	margin: 0;
	padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #212529;
    text-align: left;
    background-color: #e0e0e0;
}

.left{
	float: left;
	display: block;
	overflow: hidden;
}

.right{
	float: right;
}

.addnew{
	line-height: 2
}

.fix{
	overflow: hidden;
	clear: both;
}

h1{
	font-size: 25px;
}

button{
	padding: 0 15px;
	border: 0;
	background: #58C4F0;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	outline: 0;
}

div#root {
    margin-top: 10px;
    background: #f3f3f3;
    padding: 10px;
}

table.list{
	width:100%;
}
table.list button{
	line-height: 1.75
}
table.list tr{
	margin: 5px!important;
	border: 1px solid #fff;
}

table.list th {
    background: #58C4F0;
    padding: 2px;
    text-align: center;
}

.crud_header {
    background: #e0e0e0;
    padding: 35px 22px 20px 20px;
}

table.list tr td{
	padding: 10px;
	margin: 2px!important;
	overflow: hidden;
	text-align: center;
	margin-top: 5px;
	border-right: 1px solid #fff;
}
.list tr:nth-child(odd) {background: #aaa;}
.list tr:nth-child(even) {background: #ddd;}
.list tr:hover {background: #888; color:white}
.file-listing li:nth-child(odd) {background: #aaa;}
.file-listing li:nth-child(even) {background: #ddd;}
.file-listing li:hover {background: #888; color:white}

.modal{
	top: 0px;
	left:0;
	right:0;
	bottom:0;
	position: fixed;
	background: #b5b5b5fc;
	margin: 0 auto;
	display: block;
	padding: 0;
	height: 800px;
	box-shadow: 0 0 130px 28px #00000073;
}

.modalheading{
	background: #fff;
	padding: 5px;
	font-size: 17px;
	line-height: 32px;
}

.modalcontent {
    padding: 5px;
	font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.2;
}

table.form {
    width: 100%;
}

.form tr{
	text-align: center;
	border-bottom: 5px solid #b6b6b6;
}

.form td{
	text-align: left;
	margin: 0 10px;
	padding: 2px;
	border: 5px solid #b6b6b6;
}

.form th{
	text-align: right;
	border-right: 5px solid #b6b6b6;
}
.form th:nth-child(1){
	width:20%;
}

.margin{
	margin: 10px 0;
}

.center {
    text-align: center;
    display: block;
    margin: 0 auto;
	line-height: 2
}

p.errorMessage {
    background: #ffbaba;
    padding: 10px;
    border-left: 5px solid #f00;

}

p.successMessage {
    background: #a2ffa2;
    padding: 10px;
    border-left: 5px solid #008c1e;
}

.form td input, .form textarea, .form select {
    padding:5px 10px;
    outline: 0;
	width:100%
}

.form select{
	height:37px;
}
.form textarea{
	height:150px;
}

button.center {
	font-size: 1.25rem;
}

.form input:focus, textarea:focus, select:focus { 
	background-color: #58C4F0 
}	
.form input:hover, textarea:hover, select:hover { 
	background-color: #aaa 
}	

input[type="file"]{
    position: absolute;
    top: -500px;
}

div.file-listing{
    width: 200px;
}

span.remove-file{
    color: red;
    cursor: pointer;
    float: right;
}	
  
.upload{
	line-height:1.75;
	font-size: 1.25em;
}

.dropZone{
	padding: 10px;
	height: 625px;
	width:  625px;
}

#logout{
	padding-left: 50px;
	width:25px;
	height:25px;
	float:left;
}
#logout img{
	width:35px;
	height:35px;
}

/* radio aspect */
[type="radio"]:not(:checked) + label:before,[type="radio"]:checked + label:before,[type="checkbox"]:not(:checked) + label:before,[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 2px; top: 5px;
    width: 35px; height: 35px;
    border: 3px solid #cccccc;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,[type="radio"]:checked + label:after,[type="checkbox"]:not(:checked) + label:after,[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 14px; left: 8px;
    line-height: 1;
    color: #09ad7e;
    transition: all .2s;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,[type="checkbox"]:checked + label:before {
    border-radius: 6px;
}
[type="checkbox"]:not(:checked),[type="checkbox"]:checked,[type="radio"]:not(:checked),[type="radio"]:checked{
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,[type="checkbox"]:checked + label,[type="radio"]:not(:checked) + label,[type="radio"]:checked + label {
    position: relative;
    padding-left: 60px;
    cursor: pointer;
    margin-bottom: 0px;
    display: inline-block;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after,[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled radio */
[type="checkbox"]:disabled:not(:checked) + label:before,[type="checkbox"]:disabled:checked + label:before,[type="radio"]:disabled:not(:checked) + label:before,[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #999999;
    background-color: #dddddd;
}
[type="checkbox"]:disabled:checked + label:after,[type="radio"]:disabled:checked + label:after {
    color: #999999;
}
[type="checkbox"]:disabled + label,[type="radio"]:disabled + label {
    color: black;
}

/* hover style just for information */
label:hover:before:not(disabled) {
    top: 10px; left: 15px;
    border: 4px solid #49BFF0!important;
	background: #49BFF0;
	}

label {
    width: 96%;
	min-height:55px;
	line-height:1;
	}	
